[Unit]
Description=Preston tracking Ocean Biogeographic Information System

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston/archives/obis
ExecStart=/usr/local/bin/preston track --tmp-dir /tmp --seed https://obis.org
