[Unit]
Description=Preston tracks biodiversity datasets.

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston/archives/gbif-idigbio-biocase
ExecStart=/usr/local/bin/preston track --seed https://idigbio.org,https://gbif.org,http://biocase.org --tmp-dir /tmp
