[Unit]
Description=Preston tracks biodiversity datasets.

[Service]
Type=oneshot
User=preston
WorkingDirectory=/home/preston/preston-bhl
ExecStart=/usr/local/bin/preston update -u https://biodiversitylibrary.org
