[Unit]
Description=Preston tracks biodiversity datasets of Catalogue of Life

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston/archives/catalogueoflife
ExecStart=bash /var/lib/preston/track-catalogueoflife.sh
