[Unit]
Description=Preston Redirection Server

[Service]
Type=simple
User=preston
Environment=PRESTON_DIR=/tmp/preston-redirect
ExecStart=/usr/local/bin/preston redirect --port 8084 --host localhost --registry http://localhost:7878/query --repository https://linker.bio --anchor hash://sha256/a0d1df102236a0959daf70cd3cf5dd16ffdca043b53f4df08899adf883d85812
Restart=always

[Install]
WantedBy=multi-user.target
