[Unit]
Description=Web interface for Preston.

[Service]
Type=simple
User=preston
WorkingDirectory=/var/lib/preston/
ExecStart=/var/lib/preston/bin/oxigraph serve-read-only --location /var/cache/oxigraph/gib
Restart=always

[Install]
WantedBy=multi-user.target
