[Unit]
Description=Tracking Wikidata Taxa

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston/archives/wikidata-taxon
ExecStart=/var/lib/preston/track-wikidata-taxon.sh 
