[Unit]
Description=Preston tracking Atlas of Living Australia

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston/archives/ala
ExecStart=/usr/local/bin/preston track --tmp-dir /tmp --seed https://ala.org.au
