[Unit]
Description=Preston Server SHA256 Universe

[Service]
Type=simple
User=preston
Environment=PRESTON_DIR=/tmp/preston-sha256
ExecStart=/usr/local/bin/preston server --algo sha256 --port 8082 --host localhost --remotes file:///var/lib/preston/archives/gbif-idigbio-biocase/data,file:///var/lib/preston/archives/nomer-corpus/data,https://biokic6.rc.asu.edu/preston/gbpln,file:///var/lib/preston/archives/bta/data,file:///var/lib/preston/archives/dataone/data,file:///var/lib/preston/archives/bhl/data,file:///var/lib/preston/archives/obis/data,file:///var/lib/preston/archives/ala/data,file:///var/lib/preston/archives/bionomia/data,file:///var/lib/preston/archives/brit-bisque/data,file:///var/lib/preston/archives/brit/data,file:///var/lib/preston/archives/dbg/data,file:///var/lib/preston/archives/wikidata/data,https://softwareheritage.org,https://dataone.org --no-cache --no-progress --data-dir=${PRESTON_DIR}/data --tmp-dir=${PRESTON_DIR}/tmp
Restart=always

[Install]
WantedBy=multi-user.target
